H1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center; 
    font-size: 200px;
    text-shadow: 0px 0px 0px rgb(59, 0, 0), 0 0 100cm red;
    color: #d94f5c;
    font-weight: bold;
}
H4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center; 
    font-size: 140px;
    text-shadow: 0px 0px 0px rgb(59, 0, 0), 0 0 50cm red;
    color: #d94f5c;
    font-weight: bold;
}