table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #777;
  width: 100%;
}
caption {
  padding: 100px;
  color: #d94f5c;
  background: #000000;
  font-size: 200px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 0 3em red;
}
th {
  border-bottom: 3px solid #1b1b1b;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: #1b1b1b;
}
tr:nth-child(even) {
  background: #1b1b1b;
}


.mainmenubtn {
  background-color: #1b1b1b;
  color: #777;
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color:  #1b1b1b;
  min-width: 200px;
}
.dropdown-child a {
  color: #777;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}